@import "tailwindcss";

.hero-dots {
  background-color: #ff00a7;
}

.hero-dots::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: radial-gradient(#000000 3px, transparent 2px);
  background-size: 40px 40px; /* adjust dot spacing */
  opacity: 0.08; /* subtle look */
  pointer-events: none;
  z-index: 0;
}

.hero-dots > * {
  position: relative;
  z-index: 1;
}
